@keyframes chart-dot-fade {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes error-dot-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}