.tooltip {
    color: var(--sub-color);
    position: relative;
}

.tooltip:hover {
    cursor: pointer;
}

.tooltip::before {
    width: fit-content;
    content: attr(data-tooltip);
    position: absolute;
    top: var(--tooltip-before-top, 0);
    left: 50%;
    transform: translate(-50%, 10px);
    font-size: 1.1rem;
    line-height: 1.15rem;
    white-space: nowrap;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.18s ease-in-out;
    pointer-events: none;
}

.tooltip--wrap::before {
    white-space: wrap;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: var(--tooltip-after-top, 0);
    transform: translate(-50%, 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-top: 0.625rem solid black;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    opacity: 0;
    transition: all 0.18s ease-in-out;
    pointer-events: none;
}

.tooltip:hover::before {
    opacity: 1;
    transform: translate(-50%, 0);
    /* top: calc(var(--tooltip-before-top, 0) - 10)px; */
}

.tooltip:hover::after {
    opacity: 1;
    transform: translate(-50%, 0);
    /* top: calc(var(--tooltip-after-top, 0) - 10)px; */
}