@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--bg-color);
  --color-main: var(--main-color);
  --color-caret: var(--caret-color);
  --color-sub: var(--sub-color);
  --color-sub-alt: var(--sub-alt-color);
  --color-text: var(--text-color);

  --color-error: var(--error-color);
  --color-error-extra: var(--error-extra-color);
  --color-border: var(--sub-color);
}

:root {
  --radius: 0.625rem;
  --bg-color: #241963;
  --main-color: #f2ce83;
  --caret-color: #fbdb8c;
  --sub-color: #446ad5;
  --sub-alt-color: #2a277a;
  --text-color: #ffffff;
  --error-color: #c6915e;
  --error-extra-color: #b36f3a;
  --colorful-error-color: #ff7043;
  --colorful-error-extra-color: #ff3b30;
}

:root[data-theme="royal"],
[data-theme="royal"] {
  --bg-color: #241963;
  --main-color: #f2ce83;
  --caret-color: #fbdb8c;
  --sub-color: #446ad5;
  --sub-alt-color: #2a277a;
  --text-color: #ffffff;
  --error-color: #c6915e;
  --error-extra-color: #b36f3a;
  --colorful-error-color: #ff7043;
  --colorful-error-extra-color: #ff3b30;
}

:root[data-theme="ocean"],
[data-theme="ocean"] {
  --bg-color: #021f34;
  --main-color: #00bcd4;
  --caret-color: #4dd0e1;
  --sub-color: #0b3a57;
  --sub-alt-color: #05283e;
  --text-color: #b2ebf2;
  --error-color: #ff8a65;
  --error-extra-color: #d84315;
  --colorful-error-color: #ff7043;
  --colorful-error-extra-color: #ff3d00;
}

:root[data-theme="slate"],
[data-theme="slate"] {
  --bg-color: #212121;
  --main-color: #90a4ae;
  --caret-color: #cfd8dc;
  --sub-color: #37474f;
  --sub-alt-color: #111318;
  --text-color: #eceff1;
  --error-color: #ff8a80;
  --error-extra-color: #d32f2f;
  --colorful-error-color: #ff5252;
  --colorful-error-extra-color: #ff1744;
}

:root[data-theme="classic-light"],
[data-theme="classic-light"] {
  --bg-color: #ffffff;
  --main-color: #2d2076;
  --caret-color: #fbdb8c;
  --sub-color: #385eca;
  --sub-alt-color: #c8cedf;
  --text-color: #2d2076;
  --error-color: #f2ce83;
  --error-extra-color: #f2ce83;
  --colorful-error-color: #f2ce83;
  --colorful-error-extra-color: #f2ce83;
}

:root[data-theme="nord-light"],
[data-theme="nord-light"] {
  --bg-color: #eceff4;
  --caret-color: #8fbcbb;
  --main-color: #8fbcbb;
  --sub-color: #6a7791;
  --sub-alt-color: #d8dee9;
  --text-color: #8fbcbb;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}

:root[data-theme="grayscale"],
[data-theme="grayscale"] {
  --bg-color: #eeeeee;
  --main-color: #444444;
  --caret-color: #444444;
  --sub-color: #b2b2b2;
  --sub-alt-color: #dddddd;
  --text-color: #444444;
  --error-color: #d70000;
  --error-extra-color: #d70000;
  --colorful-error-color: #d70000;
  --colorful-error-extra-color: #d70000;
}

:root[data-theme="lavender"],
[data-theme="lavender"] {
  --bg-color: #ebe1ef;
  --main-color: #8a5bd6;
  --caret-color: #212b43;
  --sub-color: #a28db8;
  --sub-alt-color: #dac7e2;
  --text-color: #212b43;
  --error-color: #f794ca;
  --error-extra-color: #f279c2;
  --colorful-error-color: #f794ca;
  --colorful-error-extra-color: #f279c2;
}

:root[data-theme="mono-dark"],
[data-theme="mono-dark"] {
  --bg-color: #f5f5f5;
  --main-color: #363636;
  --caret-color: #0d0d0d;
  --sub-color: #4f4f4f;
  --sub-alt-color: #e0e0e0;
  --text-color: #1f1f1f;
  --error-color: #ff0008;
  --colorful-error-color: #ff0008;
}

:root[data-theme="military"],
[data-theme="military"] {
  --bg-color: #7c878e;
  --main-color: #93c247;
  --caret-color: #93c247;
  --sub-color: #4b5257;
  --sub-alt-color: #737d82;
  --text-color: #bfcfdc;
  --error-color: #ea4221;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ea4221;
  --colorful-error-extra-color: #7e2a33;
}

:root[data-theme="sage"],
[data-theme="sage"] {
  --bg-color: #727474;
  --main-color: #7fa482;
  --caret-color: #196378;
  --sub-color: #cac4be;
  --sub-alt-color: #666868;
  --text-color: #131313;
  --error-color: #5e477c;
  --error-extra-color: #413157;
  --colorful-error-color: #5e477c;
  --colorful-error-extra-color: #413157;
}

:root[data-theme="pastel-pink"],
[data-theme="pastel-pink"] {
  --bg-color: #4a5b6e;
  --main-color: #f8cdc6;
  --caret-color: #9ec1cc;
  --sub-color: #9ec1cc;
  --sub-alt-color: #425366;
  --text-color: #f5efee;
  --error-color: #c9465e;
  --error-extra-color: #c9465e;
  --colorful-error-color: #c9465e;
  --colorful-error-extra-color: #c9465e;
}

:root[data-theme="violet-steel"],
[data-theme="violet-steel"] {
  --bg-color: #525252;
  --main-color: #c5b4e3;
  --caret-color: #b1e4e3;
  --sub-color: #939eae;
  --sub-alt-color: #494949;
  --text-color: #b1e4e3;
  --error-color: #edc1cd;
  --error-extra-color: #edc1cd;
  --colorful-error-color: #edc1cd;
  --colorful-error-extra-color: #edc1cd;
}

:root[data-theme="sunrise-sea"],
[data-theme="sunrise-sea"] {
  --bg-color: #3b4a62;
  --main-color: #bef0ff;
  --caret-color: #bef0ff;
  --sub-color: #fe9841;
  --sub-alt-color: #313e55;
  --text-color: #dbdeeb;
  --error-color: #ed2939;
  --error-extra-color: #ce122c;
  --colorful-error-color: #ed2939;
  --colorful-error-extra-color: #ce122c;
}

:root[data-theme="one-dark"],
[data-theme="one-dark"] {
  --bg-color: #2f343f;
  --caret-color: #61afef;
  --main-color: #61afef;
  --sub-color: #eceff4;
  --sub-alt-color: #262b34;
  --text-color: #98c379;
  --error-color: #e06c75;
  --error-extra-color: #d62436;
  --colorful-error-color: #d62436;
  --colorful-error-extra-color: #ff0019;
}

:root[data-theme="moonlight"],
[data-theme="moonlight"] {
  --bg-color: #2a273f;
  --main-color: #9ccfd8;
  --caret-color: #f6c177;
  --sub-color: #c4a7e7;
  --sub-alt-color: #211f32;
  --text-color: #e0def4;
  --error-color: #eb6f92;
  --error-extra-color: #ebbcba;
  --colorful-error-color: #eb6f92;
  --colorful-error-extra-color: #ebbcba;
}

:root[data-theme="everforest"],
[data-theme="everforest"] {
  --bg-color: #2c2e34;
  --main-color: #9ed072;
  --caret-color: #f38c71;
  --sub-color: #e7c664;
  --sub-alt-color: #232429;
  --text-color: #e2e2e3;
  --error-color: #fc5d7c;
  --error-extra-color: #ecac6a;
  --colorful-error-color: #fc5d7c;
  --colorful-error-extra-color: #ecac6a;
}

:root[data-theme="galaxy"],
[data-theme="galaxy"] {
  --bg-color: #221b44;
  --main-color: #009eaf;
  --caret-color: #009eaf;
  --sub-color: #b82356;
  --sub-alt-color: #1e173b;
  --text-color: #dbe7e8;
  --error-color: #a8d400;
  --error-extra-color: #668000;
  --colorful-error-color: #a8d400;
  --colorful-error-extra-color: #668000;
}

:root[data-theme="nord-dark"],
[data-theme="nord-dark"] {
  --bg-color: #242933;
  --caret-color: #eceff4;
  --main-color: #88c0d0;
  --sub-color: #929aaa;
  --sub-alt-color: #2e3440;
  --text-color: #d8dee9;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}

:root[data-theme="cyberpunk"],
[data-theme="cyberpunk"] {
  --bg-color: #212135;
  --main-color: #be3c88;
  --caret-color: #78c729;
  --sub-color: #19b3b8;
  --sub-alt-color: #191928;
  --text-color: #838686;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

:root[data-theme="neon-dream"],
[data-theme="neon-dream"] {
  --bg-color: #1b1d36;
  --main-color: #fca6d1;
  --caret-color: #99d6ea;
  --sub-color: #99d6ea;
  --sub-alt-color: #17182c;
  --text-color: #e1e7ec;
  --error-color: #fffb85;
  --error-extra-color: #fffb85;
  --colorful-error-color: #fffb85;
  --colorful-error-extra-color: #fffb85;
}

:root[data-theme="solarized-dark"],
[data-theme="solarized-dark"] {
  --bg-color: #002b36;
  --main-color: #859900;
  --caret-color: #dc322f;
  --sub-color: #2aa198;
  --sub-alt-color: #00222b;
  --text-color: #268bd2;
  --error-color: #d33682;
  --error-extra-color: #9b225c;
  --colorful-error-color: #d33682;
  --colorful-error-extra-color: #9b225c;
}

:root[data-theme="midnight"],
[data-theme="midnight"] {
  --bg-color: #18181a;
  --main-color: #e4609b;
  --caret-color: #e4609b;
  --sub-color: #47bac0;
  --sub-alt-color: #0f0f10;
  --text-color: #fff;
  --error-color: #fff591;
  --error-extra-color: #b6af68;
  --colorful-error-color: #fff591;
  --colorful-error-extra-color: #b6af68;
}

@layer base {
  * {
    @apply border-border;
  }
}
